@use "@/styles/variables" as *;

@mixin container {
  width: min(100% - 32px, $container-width);
  margin-inline: auto;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin tablet {
  @media (max-width: 1100px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin smallMobile {
  @media (max-width: 600px) {
    @content;
  }
}